<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin Login</title>
    <style type="text/css">
        .my_centered_buttons { display: flex; justify-content: center; }
    </style>
  </head>
  <body>
    <div class="forms">
        <ul class="tab-group">
            <li class="tab"><a href="/">Users</a></li>
            <li class="tab active"><a href="/admins">Admins</a></li>
        </ul>
        <form action="/admins" method="post">
              <h1>Login</h1>
              <div class="input-field">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <label for="email">Email</label>
                <input type="email" name="admin[email]" required="email" />
                <label for="password">Password</label>
                <input type="password" name="admin[password]" required/>
                <span><%= @error2%></span>
                <input type="submit" value="Login" class="button"/>
              </div>
          </form>
    </div>
  </body>
</html>
