/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .header {
   overflow: hidden;
   background-color: #f1f1f1;
   padding: 20px 10px;
 }

 /* Style the header links */
 .header a {
   float: left;
   color: black;
   text-align: center;
   padding: 12px;
   text-decoration: none;
   font-size: 18px;
   line-height: 25px;
   border-radius: 4px;
 }

 /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
 .header a.logo {
   font-size: 25px;
   font-weight: bold;
 }


 /* Style the active/current link*/
 .header a.active {
   background-color: dodgerblue;
   color: white;
 }

 /* Float the link section to the right */
 .header-right {
   float: right;
 }

 /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
 @media screen and (max-width: 500px) {
   .header a {
     float: none;
     display: block;
     text-align: left;
   }
   .header-right {
     float: none;
   }
 }
 img{
   width: 65%;
 }
 .link{
     border: 2px solid darkgrey;
     color: black;
     padding: 3px 15px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
 }
 .link:hover, .link:active {
   background-color: darkgrey;
 }
 * {
 	margin: 0px;
 	padding: 0px 0px;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 }
 body {
 	font-family: 'open sans', sans-serif;
 }
 .forms {
 	background: #fff;
 	box-shadow: 0 0 3px #000;
 	margin: 30px auto;
 	max-width: 500px;
 	overflow: hidden;
 	position: relative;
 	padding: 0;
 }
 .forms h1 {
 	padding: 0 0 20px 0;
 	font-size: 26px;
 	color: #666;
 	font-weight: lighter;
 	text-align: center;
 }
 .forms form { padding: 30px; }
 #signup { display: none; }
 .forms .tab-group {
 	list-style: none;
 	padding: 0;
 	margin: 0;
 }
 .forms .tab-group:after {
 	content: "";
 	display: table;
 	clear: both;
 }
 .forms .tab-group li a {
 	display: block;
 	text-decoration: none;
 	padding: 15px;
 	background: #e5e6e7;
 	color: #888;
 	font-size: 20px;
 	float: left;
 	width: 50%;
 	text-align: center;
 	border-top: 3px solid transparent;
 	-moz-transition: all 0.4s ease-in-out;
 	-o-transition: all 0.4s ease-in-out;
 	-webkit-transition: all 0.4s ease-in-out;
 	transition: all 0.4s ease-in-out;
 }
 .forms .tab-group li a:hover {
 	background: #dedfdf;
 	color: #666;
 }
 .forms .tab-group .active a {
 	background: #fff;
 	color: #444;
 	border-top: 3px solid dodgerblue;
 }
 .forms input {
 	font-size: 16px;
 	display: block;
 	width: 100%;
 	padding: 10px 20px;
 	border: 1px solid #ddd;
 	color: #666;
 	border-radius: 0;
 	margin-bottom: 10px;
 	-moz-transition: all 0.4s ease-in-out;
 	-o-transition: all 0.4s ease-in-out;
 	-webkit-transition: all 0.4s ease-in-out;
 	transition: all 0.4s ease-in-out;
 }
 .forms input:focus {
 	outline: 0;
 	border-color: #2e5ed7;
 }
 .forms label {
 	font-size: 16px;
 	font-weight: normal;
 	color: #666;
 	margin-bottom: 5px;
 	display: block;
 }
 .forms .button {
 	border: 0;
 	outline: none;
 	border-radius: 0;
 	padding: 10px 0;
 	font-size: 18px;
 	font-weight: 300;
 	text-transform: uppercase;
 	letter-spacing: 2px;
 	background: dodgerblue;
 	color: #ffffff;
 	cursor: pointer;
 	-moz-transition: all 0.4s ease-in-out;
 	-o-transition: all 0.4s ease-in-out;
 	-webkit-transition: all 0.4s ease-in-out;
 	transition: all 0.4s ease-in-out;
 }
 .forms .button:hover, .button:focus { background: #357EC7; }
 .text-p { text-align: right; }
 .text-p a { color: #1383ea; }

 .forms .button-cls {
 	border: 0;
 	outline: none;
 	border-radius: 0;
 	padding: 10px 150px;
 	font-size: 18px;
 	font-weight: 300;
 	text-transform: uppercase;
 	letter-spacing: 2px;
 	background: dodgerblue;
 	color: #ffffff;
 	cursor: pointer;
 	-moz-transition: all 0.4s ease-in-out;
 	-o-transition: all 0.4s ease-in-out;
 	-webkit-transition: all 0.4s ease-in-out;
 	transition: all 0.4s ease-in-out;
 }
 .forms .button-cls:hover, .button-cls:focus { background: #357EC7; }
 .text-p { text-align: right; }
 .text-p a { color: #1383ea; }
